<h1>Reset Kata Sandi</h1>
<p>Halo <%= @user.email %>,</p>
<p>Klik link di bawah ini untuk mereset kata sandi Anda:</p>
<p><%= link_to "Reset Password", @url %></p>
<p>Link ini berlaku selama 2 jam.</p>
