
<div id="edit-modal">
  <div id="mapel-modal" class="fixed inset-0 z-50 flex items-center justify-center bg-black bg-opacity-50">
    <div class="relative p-4 w-full max-w-md">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
        <div class="flex items-center justify-between p-4 border-b">
          <h3 class="text-sm md:text-lg font-semibold">Tambah Jam Pelajaran</h3>
          <button type="button" class="text-gray-400 hover:text-gray-900" onclick="closeModal()">
            <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"/>
            </svg>
          </button>
        </div>
          <%= render 'form', time: @timeBlock, days:@days %>
      </div>
    </div>
  </div>
</div>

<script>
  function closeModal() {
    document.getElementById('mapel-modal').style.display = 'none';
  }
</script>